<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/cards" method="post">
        <input type="text" placeholder="enter username" name="user">
        <input type="text" placeholder="enter followers" name="followers">
        <input type="text" placeholder="enter following" name="following"> 
        <button>Submit</button>  
    </form>
</body>
</html>