<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Form</title>
    <!-- <link rel="stylesheet" href="/form.css"> -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-info">
    <h2 class="ml-5">Create new post</h2>
  <div class="container m-5 bg-light   text-dark p-4 " style="width:600px; border-radius:10px;">
  <form  method="post" action="/post" >  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">UserName</label>
    <input type="text" class="form-control text-bg-color" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter Username">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Content</label>
    <textarea name="content" class="form-control"> </textarea>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>    
   </form>
  </div>
  
</body>
</html>