 .form-container{
   /* padding:20px; */
   margin-left: 30px;
   box-sizing: border-box;  
}
.submit-form{
  text-align: center;
  color:#242121;
  font-size:20px;
  font-weight: 600;
  margin-top: 10px;;
}

