*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background:rgb(255, 251, 251);
}
h1{
    color:rgba(196, 64, 64, 0.775)
}
.post{
    background: rgb(146, 255, 119);
    margin:10px 2%;
    width:70%
}
.user{
    font-style: italic;
}
a{
    text-decoration:none ;
    background:rgba(38, 38, 232, 0.593);
    color:white;
    font-weight: 600;
    padding:5px;
}

/* .card{
    background:rgba(199, 201, 203, 0.935);
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    background: greenyellow;
    color:bold;
}
.card .post-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    
} */